.header {
	direction: rtl;
	background-color: var(--blue);
	width: 100%;
}

.header .title {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.header .title img {
	width: 120px;
	object-fit: scale-down;
	margin-left: 15px;
}

.header .title h1 {
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	word-wrap: wrap;
}
