.miners-container {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.miners-container h4 {
	text-align: right;
}
.miners-container p {
	text-align: justify;
}

.miners-container .miners-grid {
	margin-top: 25px;
	padding: 35px;
	border: 1px solid var(--font-grey);
	background-color: #fff;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.226);
	display: flex;
	flex-direction: column;
	direction: rtl;
}

.table-container {
	overflow-x: auto;
}

.table-container table {
	width: 100%;
	min-width: 500px;
	text-align: center;
	overflow-x: auto;
	border-collapse: collapse;
}
.table-container table td,
th {
	font-size: 14px;
	padding: 10px;
}
.table-container table th {
	height: 55px;
	background-color: #f2f2f2;
}
.table-container table td {
	height: 35px;
}
.table-container table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.table-container table td:first-child {
	width: 2px;
}

.table-totals {
	margin-top: 15px;
	width: 100%;
}

.table-totals span:first-child {
	margin-left: 20px;
}

.miners-container .add-miner {
	margin-top: 15px;
	transition: height 0.3s;
}

.miners-container .add-miner .form {
	margin-top: 5px;
}
