.profit-table table {
	width: 100%;
	min-width: 1100px;
	text-align: center;
	overflow-x: auto;
	border-collapse: collapse;
	margin-top: 15px;
}
.profit-table td,
th {
	font-size: 14px;
	padding: 10px;
}
.profit-table th {
	height: 55px;
	background-color: var(--blue-fade);
}
.profit-table td {
	height: 35px;
}
.profit-table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.profit-table td:first-child {
	width: 2px;
}

.profit-table .price-cost {
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
	margin-bottom: 15px;
}

.profit-table input {
	border-radius: 5px;
	outline: none;
	border-style: solid;
	border: 1px solid var(--font-grey);
	width: 100px;
	margin: auto 10px;
	height: 30px;
	padding-right: 10px;
}
.profit-table input:focus {
	border-color: var(--blue);
}

@media only screen and (min-width: 600px) {
	.profit-table .price-cost {
		grid-template-columns: 170px auto;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
